<div *ngIf="!isLoginSuccessful">
    <h2>Connexion</h2>
    <label for="email">E-mail:</label>
    <input type="email" id="email" [(ngModel)]="email" required>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" [(ngModel)]="password" required>
    <button (click)="login()">Connexion</button>
</div>

<div *ngIf="isLoginSuccessful">
    <h2>Vérification</h2>
    <label for="verificationCode">Code de vérification:</label>
    <input type="text" id="verificationCode" [(ngModel)]="verificationCode" required>
    <button (click)="verifyCode()">Vérifier</button>
</div>